allow mediaserver audio_device:chr_file { ioctl open read write };
allow mediaserver audiod:binder call;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver socket_device:sock_file write;
binder_call(mediaserver, sensorservice_service);
binder_call(mediaserver, servicemanager);
