# Rom Extras

on init
    export ANDROID_CACHE /cache

on post-fs-data
    mkdir /data/ssh 0750 root shell
    mkdir /data/ssh/empty 0600 root shell
    
on boot
    chown system system /sys/block/mmcblk0/queue/scheduler
    chown system system /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk1/queue/scheduler

    chown system system /dev/cpuctl/cpu.notify_on_migrate
    chmod 0664 /dev/cpuctl/cpu.notify_on_migrate

    chown system system /sys/kernel/ipv4/tcp_delack_seg
    chown system system /sys/kernel/ipv4/tcp_use_userconfig

    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.lte         8
    setprop net.tcp.delack.wifi        20
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.lte        1
    setprop net.tcp.usercfg.wifi       1

on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
