# Copyright (c) 2012-2015, The Linux Foundation. All rights reserved.

/dev/adsprpc-smd                    0664   system     system
/dev/avtimer                        0660   system     audio
/dev/battery_data                   0660   system     system
/dev/ccid_bridge                    0660   system     system
/dev/dpl_ctrl                       0660   usb        usb
/dev/dvb/adapter0/demux*            0440   media      media
/dev/dvb/adapter0/dvr*              0660   media      media
/dev/dvb/adapter0/video*            0660   media      media
/dev/i2c-*                          0660   root       system
/dev/i2c-5                          0660   media      media
/dev/ion                            0664   system     system
/dev/ipa                            0660   system     net_admin
/dev/ipaNatTable                    0660   net_admin  net_admin
/dev/jpeg*                          0660   system     camera
/dev/kgsl-2d0                       0666   root       root
/dev/kgsl-2d1                       0666   root       root
/dev/kgsl-3d0                       0666   system     system
/dev/laser                          0660   system     camera
/dev/media*                         0660   system     camera
/dev/msm_a2dp_in                    0660   system     audio
/dev/msm_aac                        0660   system     audio
/dev/msm_aac_in                     0660   system     audio
/dev/msm_ac3                        0660   system     audio
/dev/msm_alac                       0660   system     audio
/dev/msm_amrnb                      0660   system     audio
/dev/msm_amrnb_in                   0640   system     audio
/dev/msm_amrwb                      0660   system     audio
/dev/msm_amrwbplus                  0660   system     audio
/dev/msm_ape                        0660   system     audio
/dev/msm_audio_cal                  0660   system     audio
/dev/msm_cad                        0660   system     audio
/dev/msm_evrc                       0660   system     audio
/dev/msm_evrc_in                    0660   system     audio
/dev/msm_fm                         0660   system     audio
/dev/msm_hweffects                  0660   system     audio
/dev/msm_multi_aac                  0660   system     audio
/dev/msm_mvs                        0660   system     audio
/dev/msm_pcm_lp_dec                 0660   system     audio
/dev/msm_preproc_ctl                0660   system     audio
/dev/msm_qcelp                      0660   system     audio
/dev/msm_qcelp_in                   0660   system     audio
/dev/msm_rotator                    0660   system     system
/dev/msm_rtac                       0660   system     audio
/dev/msm_vidc*                      0660   system     audio
/dev/msm_voicememo                  0660   system     audio
/dev/msm_wma                        0660   system     audio
/dev/msm_wmapro                     0660   system     audio
/dev/qseecom                        0660   system     drmrpc
/dev/radio0                         0640   system     system
/dev/ramdump*                       0660   radio      radio
/dev/rmnet_ctrl                     0660   usb        usb
/dev/rmnet_mux_ctrl                 0640   radio      radio
/dev/rtc0                           0660   system     system
/dev/sec                            0660   system     drmrpc
/dev/smd0                           0660   system     system
/dev/smd2                           0660   bluetooth  net_bt_stack
/dev/smd3                           0660   bluetooth  net_bt_stack
/dev/smd4                           0660   system     system
/dev/smd5                           0660   system     system
/dev/smd6                           0660   system     system
/dev/smd7                           0660   bluetooth  bluetooth
/dev/smd11                          0660   radio      radio
/dev/smd_cxm_qmi                    0640   radio      radio
/dev/smdcnt_rev*                    0640   radio      radio
/dev/smdcntl*                       0640   radio      radio
/dev/stml0xx                        0660   system     compass
/dev/stml0xx_as                     0660   compass    compass
/dev/stml0xx_ms                     0660   compass    compass
/dev/subsys_*                       0640   system     system
/dev/ttyGS0                         0660   system     system
/dev/ttyHS1                         0660   system     system
/dev/ttyHSL1                        0660   system     system
/dev/ttyUSB0                        0660   bluetooth  bluetooth
/dev/tty_sdio_00                    0660   system     system
/dev/uio*                           0660   system     system
/dev/v4l-subdev*                    0660   system     camera
/dev/video*                         0660   system     camera
/dev/voice_svc                      0660   system     audio
/dev/wcnss_ctrl                     0660   system     system
/dev/wcnss_wlan                     0660   system     system
/dev/wwan_ioctl                     0660   system     net_admin
                                    
/dev/block/bootdevice/by-name/cid                       0660   root       mot_tcmd
/dev/block/bootdevice/by-name/clogo                     0660   root       mot_tcmd
/dev/block/bootdevice/by-name/frp                       0600   system     system
/dev/block/bootdevice/by-name/utags                     0660   mot_tcmd   system
/dev/block/bootdevice/by-name/utagsBackup               0660   mot_tcmd   system
/dev/block/platform/soc.0/7824900.sdhci/by-name/config  0660   system     system

/sys/devices/virtual/smdpkt/smdcntl* open_timeout       0664    radio      radio

/sys/devices/soc.0/a000000.qcom,wcnss-wlan/net/p2p0/queues/rx-* rps_cpus        0660   system     system
/sys/devices/soc.0/a000000.qcom,wcnss-wlan/net/wlan0/queues/rx-* rps_cpus       0660   system     system
